* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#464159;
    color: #6c7b95;
    height: 12vh;
    padding: 10px;
}
.inputSection{
    background-color: #8bbabb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 12vh;
}
.inputSection input{
    background-color: #464159;
    color:white;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 15px;
    font-size: 16px;
}
.inputSection button{
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    background-color: #464159;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.inputSection select{
    
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #464159;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.task{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 76vh;
}
.task div h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.task div ol{
    margin-left: 30px;
    padding: 10px;
    font-weight: bold;
    overflow-y: auto;
    list-style: decimal;
}
.studywork{
   background-color: #eafff7;
}
.daytodaywork{
    background-color:#afffdf;
}
.personalwork{
    background-color:#49beb7;
}
.task div ol li {
    list-style-position: inside; 
}
